::-webkit-scrollbar {
    display: none;
}
body{
  margin:0px;
  position:relative;
  scrollbar-width: none;
}
.upload {
    top: -100px;
    position: absolute;
}
.schedule-content{
  position:relative;
  display: flex;
  flex-wrap: wrap;
}
.text-element{
  margin-left: 30px;
}
.schedule-element{
  background: var(--mdc-theme-primary);
  width: 25vw;
  height: 25vw;
  color: rgba(0,0,0,.6);
  box-shadow: 1px 1px 10px black;
}
