body {
    margin: 0px;
    background: black;
}
.grid{
display: flex;
flex-wrap: wrap;
}

.week {
    width: 20px;
    height: 20px;
    margin: 1px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #1f1f1f; /* #e0e0e0 */
}
.week.passed {
    background: white;
}

@keyframes flipdot {
  0%{
    transform: rotateX(0deg) rotateY(0deg);
    background: #1f1f1f;
  }
  50%{
    transform: rotateX(90deg) rotateY(90deg);
    background: #1f1f1f;
  }
  50.01%{
    background: white;
  }
  100%{transform: rotateX(0deg) rotateY(0deg);}
}
