doctype html
html
  //
    Why are you looking at my code!
    Copyright 2020 TechAdvancedCyborg
    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
    The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
  head
    // Imports
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    |     
    script(src='https://cdnjs.cloudflare.com/ajax/libs/numbered/1.1.0/index.min.js')
    // Stylesheet
    link(rel='stylesheet', type='text/css', href='style.min.css')
    // Title Element
    title Loading...
    // Icon
    link(rel='icon', type='image/png', href='assets/icons/icon.png')
    // Main Script Handling All Effects
    script(src='main.min.js')
    // Script for all pages
    script(src='allpages.min.js')
    // Metadata
    meta(property='og:type', content='website')
    |     
    meta(property='og:url', content='https://techadvancedcyborg.github.io/')
    |     
    meta(property='og:title', content="OnTake/TechAdvancedCyborg's website")
    |     
    meta(property='og:description', content='Whoa! OnTake/TechAdvancedCyborg made a website? Yes, yes he did. And he is very proud of the design that went into it.')
    |     
    meta(property='og:image', content='https://techadvancedcyborg.github.io/assets/images/886b0b92-d101-4a59-94f7-e76a8809a22d.webp')
  body
    .layer4
      .page
        // Menubar
        .menubar
          a.menubutton.menubutton-top-left(href='') Home
          | &#x9;&#x9;&#x9;      
          a.menubutton.menubutton-mid(href='blog/') Blog
          |             
          a.menubutton.menubutton-mid(href='resume/') Resume
          |             
          a.menubutton.menubutton-top-right(href='weather/') Weather
        |         
        .menubar
          a.menubutton.menubutton-bottom-left(href='stats/') Stats
          | &#x9;&#x9;&#x9;      
          a.menubutton.menubutton-mid(href='tools/') Tools
          |             
          a.menubutton.menubutton-mid(href='typing/') Typing
          |             
          a.menubutton.menubutton-bottom-right(href='matrix/') Matrix
        // Typing text effect
        h1.typing-text techadvancedcyborg.github.io
        |         
        br
        // Information Header
        h1 Information
        |         
        .text-container-one
          #information.text
            | Hi ! My name is Louis Dalibard and I like to code. I&apos;m 
            span.age.text
            //
              <div class="time-progress-container">
              <div class="time-progress-bar-container">
              <div class="time-progress-minutes time-progress-bar">
              </div>
              </div>
              <div class="time-progress-bar-container">
              <div class="time-progress-hours time-progress-bar">
              </div>
              </div>
              <div class="time-progress-bar-container">
              <div class="time-progress-days time-progress-bar">
              </div>
              </div>
              <div class="time-progress-bar-container">
              <div class="time-progress-months time-progress-bar">
              </div>
              </div>
              <div class="time-progress-bar-container">
              <div class="time-progress-years time-progress-bar">
              </div>
              </div>
        |         
        br
        // Projects Header
        h1 Projects
        |         
        br
        |         
        #project-one
          .text.project-title Neko Vault
          br
          |           
          a(href='https://github.com/TechAdvancedCyborg/NekoVault')
            img.img-center(src='./assets/images/NekoVault.webp')
          |           
          .text.text-smaller.align-center A minimalistic GTK3 file encryption program writen in Go.
        |         
        br
        // Downloads Header
        h1 Downloads
        |         
        .download-div
          // Open Notes Download
          a.text.download-div-text Open Notes
          |             
          a.download-button(href='https://github.com/TechAdvancedCyborg/OpenNotes/releases')
            img.download-icon(src='assets/images/download-icon.png')
          |             
          br
          // TTACT's Anime Player Download
          a.text.download-div-text TTACT&apos;s Anime Player
          |             
          a.download-button(href='https://github.com/TechAdvancedCyborg/TTACT-s-Anime-Player-Revamped/releases')
            img.download-icon(src='assets/images/download-icon.png')
          |             
          br
          // osu! Rank Curves Download
          a.text.download-div-text osu! Rank Curves
          |             
          a.download-button(href='https://github.com/TechAdvancedCyborg/osu-RankCurves')
            img.download-icon(src='assets/images/download-icon.png')
          |             
          br
        |         
        br
        // Contact Header
        h1 Contact me
        |         
        .text-container-two
          a.text
            | Email address: 
            a.text(href='mailto:louis.dalibad@gmail.com') louis.dalibard@gmail.com
          |             
          br
          |             
          a.text
            | Discord: 
            a.text(href='https://discord.gg') OnTake#5344
          |             
          br
          |             
          a.text
            | Github: 
            a.text(href='https://github.com/TechAdvancedCyborg') TechAdvancedCyborg
        |         
        br
        // Credits
        .credits
          | Credits
          br
          | &bull; Background image by 
          a.creditslink(href='https://www.linux-apps.com/u/eliverlara/') ELIVERLARA
          | , 
          a.creditslink(href='https://www.linux-apps.com/p/1309907/') Sweet wallpaper
          | .
          br
          | &bull; Download icon made by Pixel perfect from www.flaticon.com
          br
          | &bull; TechAdvancedCyborg, 2020.
        |         
        .gnome-easter-egg
          img.gnome-image(src='./assets/images/gnome.png')
