doctype html
html
  //
    Why are you looking at my code!
    Copyright 2020 xE0F9
    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
    The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
              8%:::..;X8
           %;:.:;;;;;;:...%
         :;S;;;;tttttt;;:;t:;
       %t%t%%t%tt%%%%%tt;t;t;:S
      ;Stt%%S%%%%SSSSS%%t%tttt%t
     %Stt888S8%8;:888888888XS:;;S
      :t;@@ 8 8 8    .      8:;;%
    tttt;S8 8t:8 @::;t888. .8:;t;S
     :;t;8   8XXX 8    .    8:;tt;
     :;t:8  8 8 88@88t  .   8.;;t;
    tt%t.88 8;. . 888888; . 8.;tt@
      ;;.8   888X8@ 8X @8.  8.;tt
     ttt: ;t8 .. ..8 8:8.;@8@:;tS
      :;:   8: t:@. @;   ..:.:;%
       t;. .: ... . .   . .::;X
         ..  ...  .      ...;
           t;. ...... . ..t
              8%St:.:;X@
  head
    // Imports
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/numbered/1.1.0/index.min.js')
    // Stylesheet
    link(rel='stylesheet', type='text/css', href='style.min.css')
    // Title Element
    title Loading...
    // Icon
    link(rel='icon', type='image/png', href='assets/icons/icon.png')
    // Main Script Handling All Effects
    script(src='main.min.js')
    // Script for all pages
    script(src='allpages.min.js')
    // Metadata
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://techadvancedcyborg.github.io/')
    meta(property='og:title', content="xE0F9")
    meta(property='og:description', content='No.')
    meta(property='og:image', content='https://xE0F9.github.io/assets/images/noooooope.png')
  body
    .layer4
      .page
        .titles-container
          #titles-information.titles
            #information-side-title.side-title.animonload1 Information
          #titles-projects.titles
            #projects-side-title.side-title.animonload1 Projects
          #titles-nekovault.titles
            #nekovault-side-title.side-title.animonload1 Neko&nbsp;Vault
            #titles-connector-1.titles
          #titles-contact.titles
            #tcontact-side-title.side-title.animonload1 Contact
        // Menubar
        .menubar.animonload1
          a.menubutton.menubutton-top-left.animonload1(href='/') Home
          a.menubutton.menubutton-mid.animonload1(href='/blog/') Blog
          a.menubutton.menubutton-mid.animonload1(href='/resume/') Resume
          a.menubutton.menubutton-top-right.animonload1(href='/weather/') Weather
        .menubar.animonload1
          a.menubutton.menubutton-bottom-left.animonload1(href='/stats/') Stats
          a.menubutton.menubutton-mid.animonload1(href='/tools/') Tools
          a.menubutton.menubutton-mid.animonload1(href='/typing/') Typing
          a.menubutton.menubutton-bottom-right.animonload1(href='/matrix/') Matrix
        // Typing text effect
        h1.typing-text.animonload1 xE0F9
        // Information Header
        .text-container-one.animonload1
          #information.text.animonload1
            | < Louis Dalibard >
            br
            | ///////////// NYC-born, Paris-developed
            br
            | /////////////////// Computer Programmer
            br
            | /////////////////////////////// Student
            br
            | ///////////////////////////////////////
            br
            | I&apos;m&nbsp;
            span.age.text.animonload1
        // Projects Header
        #project-one.animonload1
          a.animonload1(href='https://github.com/xE0F9/NekoVault')
            img.img-center.animonload1(src='./assets/images/NekoVault.webp')
          .text.text-smaller.align-center.animonload1 A minimalistic GTK3 file encryption program writen in Go.
        // Contact Header
        .text-container-two.animonload1
          a.text.text-smaller.animonload1
            | Email address:
            a.text.text-smaller.animonload1(href='mailto:louis.dalibard@gmail.com') louis.dalibard@gmail.com
          br
          a.text.text-smaller.animonload1
            | Discord:
            a.text.text-smaller.animonload1(href='https://discord.gg') OnTake#5344
          br
          a.text.text-smaller.animonload1
            | Github:
            a.text.text-smaller.animonload1(href='https://github.com/xE0F9') xE0F9
        // Credits
        .credits.animonload1
          | Credits
          br
          | &bull; Background image by
          a.creditslink(href='https://www.linux-apps.com/u/eliverlara/') ELIVERLARA
          | ,
          a.creditslink(href='https://www.linux-apps.com/p/1309907/') Sweet wallpaper
          | .
          br
          | &bull; Download icon made by Pixel perfect from www.flaticon.com
          br
          | &bull; xE0F9, 2021. #{hash}
        .gnome-easter-egg
          img.gnome-image(src='./assets/images/gnome.png')
