/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
    font-family: "JetBrains Mono";
    src: url("./assets/fonts/JetBrainsMono-Regular.woff2") format("woff2"),
        url("./assets/fonts/JetBrainsMono-Regular.woff") format("woff");
}

/* Setting Variables */
$its : 30;
$prc : 8%;
$dur : 1.5s;

:root {
    background: #252030;
    /* --bg-color-dark: #313247; */
    /* --bg-color-dark: url(./assets/images/background.png); */
    --bg-color-clear: #00000020;
    --bg-color-mid: #66666650;
    --bg-color-light: #AAAAAA50;
    --text-color-light: #FFFFFFBB;
    --text-color-mid: grey;
    --text-color-dark: #000000;
    --text-color-confirmed: #00FF00BB;
    --text-color-error: #FF0000BB;
    --banner-one-scroll-pos: center;
    /* Scrollbar Styling */
    /* Firefox */
    scrollbar-color: var(--text-color-dark) var(--bg-color-light);
    scrollbar-width: thin;
}

/* Chrome */
::-webkit-scrollbar {
    width: 0px;
}

/* Load Animation */
.animonload1 {
    @for $i from 1 through $its {
        &:nth-child(#{$i}) {
            //animation-delay: 0.05s * $i;
            animation: elementload#{$i} #{($i*$dur/100)+$dur} ease;
        }
    }
}


body {
    margin: 0;
    //background-image: url(./assets/images/bgwavestile.png);
    background-position: center;
    min-height: 100vh;
    background-position-x: 0px;
}

.layer3 {
    background: url(./assets/images/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    transition: background-position 0.05s linear;
    min-height: 100vh;
}

.layer4 {
    transition: background-position 0.05s linear;
    position:relative;
}


.page {
    background: var(--bg-color-dark);
    padding: 0.5vw;
    animation: loadpage 2s ease;
    position: relative;
}

/* Setting Text Styling */
.text {
    color: var(--text-color-light);
    font-family: "JetBrains Mono";
    font-size: 25px;
}

/* Headers */
h1 {
    color: var(--text-color-light);
    font-family: "JetBrains Mono";
    font-size: 40px;
    text-align: center;
}

h2 {
    color: var(--text-color-light);
    font-family: "JetBrains Mono";
    font-size: 2vw;
    text-align: center;
}

.textcontainer {
    padding: 5vw;
}

.text-container-one {
    padding: 20px 5vw 20px 5vw;
}

.text-container-two {
    text-align:center;
}

.credits {
    padding: 5vw;
    color: var(--text-color-mid);
    font-family: "JetBrains Mono";
    font-size: 1vw;
}

.creditslink {
    color: var(--text-color-mid);
}

#information {
    transform: translate(-20px, 0px) skew(10deg, 0deg);
    color: #00000000;
    text-align: center;
    transition: transform 1s ease, color 1s ease;
}

@media (max-width: 900px) {
    #information {
        font-size: 2vw;
    }
}

.agestring {
    transition: padding 0.2s ease;
}

.time-progress-container {
    background: var(--bg-color-clear);
    margin: 2vw 0vw 2vw 0vw;
    padding: 2vw;
    border-radius: 3vw;
}

.time-progress-bar-container {
    position: relative;
    background: var(--bg-color-clear);
    margin: 2vw 0vw 2vw 0vw;
    border-radius: 3vw;
}

.time-progress-bar {
    background: linear-gradient(45deg, rgba(255, 225, 49, 0.8) 0%, rgba(250, 1, 116, 0.8) 100%);
    border-radius: 3vw;
    padding: 1vw;
    margin: 0;
    width: 0%;
    transition: width 0.5s ease;
}

/* Menubar */
.menubar {
    font-family: "JetBrains Mono";
    font-size: 40px;
    color: var(--text-color-light);
    display: flex;
    text-align: center;
}

.menubutton:hover {
    width: 100%;
    border-radius:0vw;
}

.menubutton-bottom-left{
  border-radius: 0vw 0vw 0vw 2vw;
}
.menubutton-top-left{
  //border-radius: 2vw 0vw 0vw 0vw;
}
.menubutton-mid{
  border-radius: 0vw 0vw 0vw 0vw;
}
.menubutton-top-right{
  //border-radius: 0vw 2vw 0vw 0vw;
}
.menubutton-bottom-right{
  border-radius: 0vw 0vw 2vw 0vw;
}
.menubutton {
    color: inherit;
    text-decoration: none;
    width: 35%;
    border: var(--text-color-light) solid 1px;
    transition: width 1s ease, border-radius 1s ease;
}

/* Resume Widget */
.resume {
    position: relative;
    background: white;
    color: black;
    font-family: 'Open Sans';
    width: 90%;
    margin-left: 5%;
    font-size: 2vw;
    text-align: left;
    border-radius: 2vw;
    box-shadow: 0px 0px 5px black;
}

.resume-title-div {
    background: #282736;
    color: white;
    padding: 1vw 1vw 1vw 1vw;
    border-radius: 1.6vw 1.6vw 0vw 0vw;
}

.resume-title {
    text-align: left;
    font-size: 4vw;
}

.resume-subtitle {
    text-align: left;
    font-size: 2vw;
    color: gray;
}

.resume-contact-link {
    color: black;
}

.resume-description {
    margin: 1vw;
}

.resume-description-title {
    font-size: 3vw;
    margin: 1.5vw 0vw 0vw 0vw;
}

.resume-seperator {
    background: grey;
    margin: 1vw 0vw 1vw 0vw;
    padding: 0.1vw 40% 0.1vw 40%;
    border-radius: 1vw;
}

/* Stats Widget */
.stats {
    color: var(--text-color-light);
    font-family: "JetBrains Mono";
    font-size: 2.5vw;
    position: relative;
    border-radius: 5vw;
    padding: 0vw;
}

.peopleinspace {
    background: var(--bg-color-clear);
    border-radius: 5vw;
    padding: 2vw;
    height: 0vw;
    animation-name: peopleinspaceload;
    animation-duration: 1s;
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;
}

.person {
    background: var(--bg-color-clear);
    border-radius: 5vw;
    width: 100%;
    height: 6vw;
    position: relative;
    animation-name: personload;
    animation-duration: 1s;
}

.personname {
    position: absolute;
    left: 7vw;
    top: 1.7vw;
    animation-name: contentloadstats;
    animation-duration: 1s;
}

.craft {
    position: absolute;
    right: 7vw;
    top: 1.7vw;
    animation-name: contentloadstats;
    animation-duration: 1s;
}

.crafticon {
    width: 5vw;
    height: 5vw;
    position: absolute;
    right: -6vw;
    bottom: -1vw;
    animation-name: contentloadstats;
    animation-duration: 1s;
}

.personicon {
    width: 5vw;
    height: 5vw;
    position: absolute;
    left: 1vw;
    bottom: 0.5vw;
    animation-name: contentloadstats;
    animation-duration: 1s;
}

/* Weather Widget */
.weather {
    color: var(--text-color-light);
    background: var(--bg-color-clear);
    font-family: "JetBrains Mono";
    font-size: 3vw;
    position: relative;
    border-radius: 5vw;
    padding: 2vw 2vw 10vw 2vw;
    width: 96%;
}

.tempplot {
    position: absolute;
    left: 3vw;
    bottom: 1vw;
    width: 96vw;
    height: 8vw;
}

.icon {
    width: 10vw;
    height: 10vw;
    position: absolute;
    right: 2vw;
    top: 2vw;
    transition: transform 1s ease;
    transform: scale(0);
}

/* Set Typing Text Effect Styling */
.typing-text {
    padding-top: 1.3vw;
    text-align: left;
    font-size: 2.5vw;
    background: var(--bg-color-clear);
    height: 4.5vw;
    border-radius: 2vw;
    width: 0vw;
    color: transparent;
    transition: width 1s ease, color 1s ease;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.text-smaller {
    font-size: 2vw;
}

.align-center {
    text-align: center;
}

/* Projects */
.project-title {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}

#project-one {
    padding: 0.5vw;
    border-radius: 3vw;
}

/* Blog */
.blog-widget {
    background: var(--bg-color-clear);
    padding: 0.5vw;
    margin: 20px 5vw 20px 5vw;
    border-radius: 3vw;
    transition: margin 0.5s ease, padding 0.5s ease;
}

.blog-post {
    position: relative;
    background: var(--bg-color-clear);
    padding: 37px;
    margin: 5vw;
    border-radius: 3vw;
    transition: margin 0.5s ease, padding 0.5s ease;
}

.blog-post-title {
    color: var(--text-color-light);
    font-family: "JetBrains Mono";
    text-align: center;
    font-size: 37px;

}

.blog-post-date {
    position: absolute;
    color: var(--text-color-mid);
    font-size: 16px;
    font-family: "JetBrains Mono";
    top: 1vw;
    right: 2vw;
    transition: top 0.5s ease, right 0.5s ease;
}

.blog-post-text {
    color: var(--text-color-light);
    font-family: "JetBrains Mono";
    text-align: left;
    font-size: 18px;

}

.blog-post-seperator {
    background: var(--text-color-light);
    margin: 1vw 0vw 1vw 0vw;
    padding: 0.1vw 40% 0.1vw 40%;
    border-radius: 1vw;
    transition: margin 0.5s ease, padding 0.5s ease;
}

/* Glitch Love */
.love-container {
    position: relative;
}

.love::before,
.love::after {
    padding: 3vw;
    color: var(--text-color-light);
    content: "With <3";
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    bottom: -3vw;
}

.love::before {
    left: -3vw;
    text-shadow: -2px 0 red;
    animation-name: glitch-animation-1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
}

.love::after {
    left: -3.1vw;
    text-shadow: -2px 0 blue;
    animation-name: glitch-animation-2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
}

/* Gnome Easter Egg */
.gnome-easter-egg {
    position: absolute;
    transform: translate(-20vw, -20vw);
    transition: transform 0.1s ease;
    top: 0;
    left: 0;
}

.gnome-image {
    width: 20vw;
}

/* Stopwatch */
.stopwatch-widget {
    background: var(--bg-color-clear);
    border-radius: 5vw;
    padding: 2vw;
    margin: 2vw 2vw 20vw 2vw;
    position: relative;
}

.stopwatch-buttons-container {}

.stopwatch-toggle-button {
    background: var(--bg-color-clear);
    text-decoration: none;
    cursor: pointer;
    border: 1px solid var(--text-color-light);
    border-radius: 5vw;
    color: var(--text-color-light);
    font-family: "JetBrains Mono";
    font-size: 2vw;
    padding: 2vw;
    width: 86vw;
    margin: 2vw 0vw 2vw 2vw;
    float: left;
    transition: width 1s ease;
}

.stopwatch-clear-button {
    background: var(--bg-color-clear);
    text-decoration: none;
    cursor: pointer;
    border: 1px solid var(--text-color-light);
    border-radius: 5vw;
    color: var(--text-color-light);
    font-family: "JetBrains Mono";
    font-size: 2vw;
    padding: 0vw;
    margin: 2vw 2vw 2vw 0vw;
    width: 0vw;
    opacity: 0%;
    transition: opacity 0.5s ease, width 1s ease, padding 1s ease;
}

.stopwatch-time {
    color: var(--text-color-light);
    font-family: "JetBrains Mono";
    font-size: 5vw;
    padding: 2vw;
    margin: 2vw;
    transition: padding 1s ease, width 1s ease, margin 1s ease, font-size 1s ease;
    text-align: center;
}

.stopwatch-clock {
    position: relative;
    background: var(--bg-color-clear);
    border-radius: 100vw;
    height: 35vh;
    width: 35vh;
    margin: auto;
    text-align: center;
}

.stopwatch-seconds {
    height: 16vh;
    top: 1.5vh;
    width: 2vh;
    left: 16.5vh;
    transform: rotate(0deg);
}

.stopwatch-minutes {
    height: 12vh;
    top: 5.5vh;
    width: 2vh;
    left: 16.5vh;
    transform: rotate(0deg);
}

.stopwatch-hours {
    height: 9vh;
    top: 8.5vh;
    width: 2vh;
    left: 16.5vh;
    transform: rotate(0deg);
}

.stopwatch-hands {
    position: absolute;
    background: var(--text-color-light);
    border-radius: 100vw;
    transform-origin: bottom center;
    transition: transform 0.1s linear;
}

/* Typing-Test */
.typing-test-widget {
    background: var(--bg-color-clear);
    border-radius: 5vw;
    padding: 2vw;
    margin: 2vw;
    position: relative;
}

.typing-words {
    position: relative;
    background: var(--bg-color-clear);
    border-radius: 5vw;
    word-wrap: break-word;
    padding: 2vw;
    margin: 2vw;
}

.typing-results {
    color: var(--text-color-light);
    font-family: "JetBrains Mono";
    font-size: 3vw;
    background: var(--bg-color-clear);
    border-radius: 5vw;
    padding: 2vw;
    margin: 2vw;
}

.typing-letter-unconfirmed {
    color: var(--text-color-light);
    font-family: "JetBrains Mono";
    font-size: 2vw;
}

.typing-letter-confirmed {
    color: var(--text-color-confirmed);
    font-family: "JetBrains Mono";
    font-size: 2vw;
}

.typing-letter-error {
    color: var(--text-color-error);
    font-family: "JetBrains Mono";
    font-size: 2vw;
}

.typing-letter-indicator {
    position: absolute;
    top: 0px;
    left: 0px;
    color: var(--text-color-light);
    font-family: "JetBrains Mono";
    font-size: 2vw;
    text-decoration: underline;
    transition: top 0.2s ease, left 0.2s ease, transform 0.2s ease;
    animation: loadletterindicator 0.2s ease;

}
.matrix-widget {
    background: var(--bg-color-clear);
    border-radius: 5vw;
    width:98.5vw;
    height:99vh;
    position: relative;
}
.matrix-letters{
  opacity:0%;
  color: var(--text-color-light);
  font-family: "JetBrains Mono";
  font-size: 2vw;
  position:absolute;
  animation: scrollletters 1s linear;
}

/* Animation */

@keyframes loadletterindicator{
    0% {
        transform: translateX(-100vw) scaleX(22);
    }
    100% {
        transform: translateX(0vw) scaleX(1);
    }
}

@keyframes scrollletters {
    0% {
        opacity:0%;
        top:0px;
        transform: scale(0.5);
    }
    10%{
      opacity:100%;
      transform: scale(1);
    }

    100%{
        top:100vh;
        opacity:0%;
        transform: scale(0.5);
    }
}

@keyframes loadpage {
    from {
        clip-path: circle(0% at 50% 0%);
    }

    to {
        clip-path: circle(200% at 50% 0%);
    }
}

@keyframes selectproject {
    from {
        background-size: 100%;
    }

    to {
        background-size: 150%;
    }
}

@keyframes unselectproject {
    from {
        background-size: 150%;
    }

    to {
        background-size: 100%;
    }
}

@keyframes hoveroverstats {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}




@keyframes typingload {
    0% {
        width: 0%;
        color: transparent;
    }

    40% {
        color: transparent;
    }

    100% {
        width: 100%;
        color: var(--text-color-light);
    }
}


@keyframes contentload {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

/*
@keyframes peopleinspaceload {
    0% {
        height: 0vw;
    }
    60% {
        height: 51vw;
    100% {
        height: 51vw;
}
}
*/
@keyframes personload {
    0% {
        width: 0%;
    }

    50% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes contentloadstats {
    0% {
        opacity: 0%;
    }

    70% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes contentloadweather {
    0% {
        opacity: 0%;
        font-size: 0vw;
    }

    60% {
        opacity: 0%;
        font-size: 0vw;
    }

    100% {
        opacity: 100%;
        font-size: 3vw;
    }
}

@keyframes iconload {
    0% {
        width: 0vw;
        height: 0vw;
    }

    60% {
        width: 0vw;
        height: 0vw;
    }

    100% {
        width: 10vw;
        height: 10vw;
    }
}

@keyframes weatherload {
    from {
        width: 0%;
    }

    to {
        width: 96%;
    }
}

@keyframes plotload {
    0% {
        opacity: 0%;
        font-size: 0vw;
        width: 0%;
        height: 0%;
    }

    60% {
        opacity: 0%;
        font-size: 0vw;
    }

    100% {
        opacity: 100%;
        font-size: 3vw;
    }

    100% {
        width: 96vw;
        height: 8vw;
    }
}

/* Universal Load */
@for $i from 1 through $its {
    @keyframes elementload#{$i} {
        0% {
            transform: translate(0px, -20px);
            opacity: 0;
        }
        #{min($i*$prc,99.99%)} {
            transform: translate(0px, -20px);
            opacity: 0;
        }

        100% {
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }
    }


    /* Glitch */
    @keyframes glitch-animation-1 {
        0% {
            clip: rect(50px, 350px, 129px, 30px);
        }

        5% {
            clip: rect(49px, 350px, 143px, 30px);
        }

        10% {
            clip: rect(58px, 350px, 39px, 30px);
        }

        15% {
            clip: rect(60px, 350px, 120px, 30px);
        }

        20% {
            clip: rect(27px, 350px, 107px, 30px);
        }

        25% {
            clip: rect(117px, 350px, 127px, 30px);
        }

        30% {
            clip: rect(91px, 350px, 62px, 30px);
        }

        35% {
            clip: rect(83px, 350px, 135px, 30px);
        }

        40% {
            clip: rect(135px, 350px, 128px, 30px);
        }

        45% {
            clip: rect(139px, 350px, 85px, 30px);
        }

        50% {
            clip: rect(77px, 350px, 70px, 30px);
        }

        55% {
            clip: rect(36px, 350px, 71px, 30px);
        }

        60% {
            clip: rect(149px, 350px, 27px, 30px);
        }

        65% {
            clip: rect(50px, 350px, 36px, 30px);
        }

        70% {
            clip: rect(48px, 350px, 47px, 30px);
        }

        75% {
            clip: rect(63px, 350px, 90px, 30px);
        }

        80% {
            clip: rect(21px, 350px, 104px, 30px);
        }

        85% {
            clip: rect(36px, 350px, 71px, 30px);
        }

        90% {
            clip: rect(83px, 350px, 22px, 30px);
        }

        95% {
            clip: rect(13px, 350px, 137px, 30px);
        }

        100% {
            clip: rect(9px, 350px, 92px, 30px);
        }
    }

    @keyframes glitch-animation-2 {
        0% {
            clip: rect(21px, 350px, 108px, 30px);
        }

        5% {
            clip: rect(12px, 350px, 119px, 30px);
        }

        10% {
            clip: rect(148px, 350px, 65px, 30px);
        }

        15% {
            clip: rect(78px, 350px, 135px, 30px);
        }

        20% {
            clip: rect(90px, 350px, 41px, 30px);
        }

        25% {
            clip: rect(30px, 350px, 80px, 30px);
        }

        30% {
            clip: rect(41px, 350px, 21px, 30px);
        }

        35% {
            clip: rect(86px, 350px, 107px, 30px);
        }

        40% {
            clip: rect(32px, 350px, 115px, 30px);
        }

        45% {
            clip: rect(131px, 350px, 62px, 30px);
        }

        50% {
            clip: rect(125px, 350px, 26px, 30px);
        }

        55% {
            clip: rect(23px, 350px, 121px, 30px);
        }

        60% {
            clip: rect(94px, 350px, 63px, 30px);
        }

        65% {
            clip: rect(91px, 350px, 47px, 30px);
        }

        70% {
            clip: rect(22px, 350px, 74px, 30px);
        }

        75% {
            clip: rect(145px, 350px, 65px, 30px);
        }

        80% {
            clip: rect(90px, 350px, 80px, 30px);
        }

        85% {
            clip: rect(121px, 350px, 121px, 30px);
        }

        90% {
            clip: rect(11px, 350px, 64px, 30px);
        }

        95% {
            clip: rect(146px, 350px, 8px, 30px);
        }

        100% {
            clip: rect(17px, 350px, 84px, 30px);
        }
    }
