/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Setting Variables */
:root {
    /* --bg-color-dark: #313247; */
    --bg-color-dark: url(./assets/images/background.png);
    --bg-color-mid: #66666650;
    --bg-color-light: #AAAAAA50;
    --text-color-light: #000000;
    --text-color-mid: grey;
    --text-color-dark: #ffffff;
    --banner-one-scroll-pos: center;

    /* Scrollbar Styling */
    /* Firefox */
    scrollbar-color: var(--text-color-dark) var(--bg-color-light);
    scrollbar-width: thin;
}

/* Chrome */
body::-webkit-scrollbar {
    width: 0.5vw;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--text-color-light);
    border-radius: 1vw;
}

/* Setting Background */
body {
    margin: 0;
    background: url(/assets/images/output.png);
    background-attachment: fixed;
    background-size: cover;
    transition: background-position 1s ease;
}

.page {
    background: var(--bg-color-dark);
    padding: 0.5vw;
}

/* Setting Text Styling */
.text {
    color: var(--text-color-light);
    font-family: monospace;
    font-size: 3vw;
    animation-name: contentload;
    animation-duration: 1s;
}

/* Headers */
h1 {
    color: var(--text-color-light);
    font-family: monospace;
    font-size: 3vw;
    text-align: center;
}

h2 {
    color: var(--text-color-light);
    font-family: monospace;
    font-size: 2vw;
    text-align: center;
}

.textcontainer {
    padding: 5vw;
}

.text-container-one {
    padding: 5vw;
}

.text-container-two {
    padding: 5vw;
}

h1 {
    color: var(--text-color-light);
    font-family: monospace;
    font-size: 3vw;
    text-align: center;
}

.credits {
    padding: 5vw;
    color: var(--text-color-mid);
    font-family: monospace;
    font-size: 15px;
}

#information {
    transform: translate(-20px, 0px) skew(10deg, 0deg);
    color: #00000000;
    transition: transform 1s ease, color 1s ease;
}

.age {
    color: #00000000;
    transition: color 1s ease;
}

/* Menubar */
.menubar {
    font-family: monospace;
    font-size: 3vw;
    color: var(--text-color-light);
    display: flex;
    text-align: center;
}

.menubutton:hover {
    width: 100%;
}

.menubutton {
    color: inherit;
    text-decoration: none;
    width: 30%;
    border: var(--text-color-light) solid 1px;
    border-radius: 2vw;
    transition: width 1s ease;
}

/* Resume Widget */
.resume {
    position: relative;
    background: white;
    color: black;
    font-family: 'Open Sans';
    width: 90%;
    margin-left: 5%;
    font-size: 2vw;
    text-align: left;
    border-radius: 2vw;
    box-shadow: 0px 0px 5px black;
}

.resume-title-div {
    background: #282736;
    color: white;
    padding: 1vw 1vw 1vw 1vw;
    border-radius: 1.6vw 1.6vw 0vw 0vw;
}

.resume-title {
    text-align: left;
    font-size: 4vw;
}

.resume-subtitle {
    text-align: left;
    font-size: 2vw;
    color: gray;
}

.resume-contact-link {
    color: black;
}

.resume-description {
    margin: 1vw;
}

.resume-description-title {
    font-size: 3vw;
    margin: 1.5vw 0vw 0vw 0vw;
}

.resume-seperator {
    background: grey;
    margin: 1vw 0vw 1vw 0vw;
    padding: 0.1vw 40% 0.1vw 40%;
    border-radius: 1vw;
}

/* Stats Widget */
.stats {
    color: var(--text-color-light);
    font-family: monospace;
    font-size: 2.5vw;
    position: relative;
    border-radius: 5vw;
    border: var(--text-color-light) solid 1px;
    padding: 0vw;
}

.peopleinspace {
    background: var(--bg-color-mid);
    border-radius: 5vw;
    border: var(--text-color-light) solid 1px;
    padding: 2vw;
    height: 0vw;
    animation-name: peopleinspaceload;
    animation-duration: 1s;
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;
}

.person {
    background: var(--bg-color-light);
    border-radius: 5vw;
    border: var(--text-color-light) solid 1px;
    width: 100%;
    height: 6vw;
    position: relative;
    animation-name: personload;
    animation-duration: 1s;
}

.personname {
    position: absolute;
    left: 7vw;
    top: 1.7vw;
    animation-name: contentloadstats;
    animation-duration: 1s;
}

.craft {
    position: absolute;
    right: 7vw;
    top: 1.7vw;
    animation-name: contentloadstats;
    animation-duration: 1s;
}

.crafticon {
    filter: invert(100%);
    width: 5vw;
    height: 5vw;
    position: absolute;
    right: -6vw;
    bottom: -1vw;
    animation-name: contentloadstats;
    animation-duration: 1s;
}

.personicon {
    filter: invert(100%);
    width: 5vw;
    height: 5vw;
    position: absolute;
    left: 1vw;
    bottom: 0.5vw;
    animation-name: contentloadstats;
    animation-duration: 1s;
}

/* Weather Widget */
.weather {
    color: var(--text-color-light);
    font-family: monospace;
    font-size: 3vw;
    position: relative;
    border-radius: 5vw;
    border: var(--text-color-light) solid 1px;
    padding: 2vw 2vw 10vw 2vw;
    width: 96%;
    animation-name: weatherload;
    animation-duration: 1s;
    transform: rotate(-5deg);
    transition: transform 1s ease;
}

.city {
    animation-name: contentloadweather;
    animation-duration: 1s;
}

.temp {
    animation-name: contentloadweather;
    animation-duration: 1s;
}

.state {
    animation-name: contentloadweather;
    animation-duration: 1s;
}

.tempplot {
    position: absolute;
    left: 3vw;
    bottom: 1vw;
    width: 96vw;
    height: 8vw;
    animation-name: contentloadweather;
    animation-duration: 1s;
    animation-name: plotload;
    animation-duration: 1s;
}

.icon {
    filter: invert(100%);
    width: 10vw;
    height: 10vw;
    position: absolute;
    right: 2vw;
    top: 2vw;
    animation-name: contentloadweather;
    animation-duration: 1s;
    animation-name: iconload;
    animation-duration: 1s;
}

/* Set Typing Text Effect Styling */
.typing-text {
    padding-top: 1.3vw;
    text-align: left;
    background: var(--bg-color-light);
    height: 4.5vw;
    border-radius: 2vw;
    width: 0vw;
    color: transparent;
    transition: width 1s ease, color 1s ease;
}

/*Download Section Styling*/
.download-div {
    margin: 5vw;
    position: relative;
    background: var(--bg-color-light);
    padding: 0.5vw;
    border-radius: 2vw;
    animation-name: downloadunselect;
    animation-duration: 1s;
}

.download-div:hover {
    box-shadow: 0px 0px 20px 5px #0005;
    animation-name: downloadselect;
    animation-duration: 1s;
}

.download-div-text {
    padding: 4.5vw;
}

.download-button {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0.3vw;
    border-radius: 1vw;
    right: 2vw;
    background-color: var(--bg-color-dark);
    display: inline-block;
    animation-name: downloadunselect;
    animation-duration: 1s;
}

.download-button:hover {
    box-shadow: 0px 0px 20px 5px #0005;
    animation-name: downloadselect;
    animation-duration: 1s;
}

.download-icon {
    height: 2.6vw;
}

/* Project Grid Styling */
.grid-container {
    font-family: monospace;
    font-size: 5vw;
    margin: 5vw;
    color: var(--text-color-dark);
    text-shadow: 1px 1px 2px black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "project-one project-one project-two project-two""project-one project-one project-three project-three"". . . .";
    border-radius: 2vw;
    animation-name: contentload;
    animation-duration: 1s;
}

.project-one {
    color: inherit;
    text-decoration: none;
    grid-area: project-one;
    background: url("assets/images/opennotes.jpg");
    width: 100%;
    background-size: 44.5vw;
    background-position: center;
    position: relative;
    border-radius: 2vw 0vw 0vw 2vw;
    -webkit-transition: background-size 1s ease;
    -moz-transition: background-size 1s ease;
    -o-transition: background-size 1s ease;
    transition: background-size 1s ease;
}

.project-two {
    color: inherit;
    text-decoration: none;
    grid-area: project-two;
    background: url("assets/images/animeplayer.jpg");
    width: 100%;
    background-size: 50vw;
    background-position: bottom;
    position: relative;
    padding-bottom: 10%;
    border-radius: 0vw 2vw 0vw 0vw;
    -webkit-transition: background-size 1s ease;
    -moz-transition: background-size 1s ease;
    -o-transition: background-size 1s ease;
    transition: background-size 1s ease;
}

.project-three {
    color: inherit;
    text-decoration: none;
    grid-area: project-three;
    background: url("assets/images/rankcurves.jpg");
    width: 100%;
    background-size: 50vw;
    background-position: top;
    position: relative;
    padding-bottom: 10%;
    border-radius: 0vw 0vw 2vw 0vw;
    -webkit-transition: background-size 1s ease;
    -moz-transition: background-size 1s ease;
    -o-transition: background-size 1s ease;
    transition: background-size 1s ease;
}

.project-one:hover {
    background-size: 150%;
}

.project-two:hover {
    background-size: 150%;
}

.project-three:hover {
    background-size: 150%;
}

.project-description {
    position: absolute;
    width: auto;
    height: auto;
    left: 0;
    right: 0;
    font-size: 2vw;
    text-align: center;
    opacity: 0%;
    filter: blur(0);
    background: var(--bg-color-mid);
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}

.project-description:hover {
    opacity: 100%;
}

/* Animation */
@keyframes selectproject {
    from {
        background-size: 100%;
    }

    to {
        background-size: 150%;
    }
}

@keyframes unselectproject {
    from {
        background-size: 150%;
    }

    to {
        background-size: 100%;
    }
}

@keyframes hoveroverstats {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}


@keyframes downloadselect {
    from {
        box-shadow: 0px 0px 0px 0px #0005;
    }

    to {
        box-shadow: 0px 0px 20px 5px #0005;
    }
}

@keyframes downloadunselect {
    from {
        box-shadow: 0px 0px 20px 5px #0005;
    }

    to {
        box-shadow: 0px 0px 0px 0px #0005;
    }
}

@keyframes typingload {
    0% {
        width: 0%;
        color: transparent;
    }

    40% {
        color: transparent;
    }

    100% {
        width: 100%;
        color: var(--text-color-light);
    }
}


@keyframes contentload {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

/*
@keyframes peopleinspaceload {
    0% {
        height: 0vw;
    }
    60% {
        height: 51vw;
    100% {
        height: 51vw;
}
}
*/
@keyframes personload {
    0% {
        width: 0%;
        border: var(--text-color-light) solid 0px;
    }

    50% {
        width: 0%;
        border: var(--text-color-light) solid 0px;
    }

    100% {
        width: 100%;
        border: var(--text-color-light) solid 1px;
    }
}

@keyframes contentloadstats {
    0% {
        opacity: 0%;
    }

    70% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes contentloadweather {
    0% {
        opacity: 0%;
        font-size: 0vw;
    }

    60% {
        opacity: 0%;
        font-size: 0vw;
    }

    100% {
        opacity: 100%;
        font-size: 3vw;
    }
}

@keyframes iconload {
    0% {
        width: 0vw;
        height: 0vw;
    }

    60% {
        width: 0vw;
        height: 0vw;
    }

    100% {
        width: 10vw;
        height: 10vw;
    }
}

@keyframes weatherload {
    from {
        width: 0%;
    }

    to {
        width: 96%;
    }
}

@keyframes plotload {
    0% {
        opacity: 0%;
        font-size: 0vw;
        width: 0%;
        height: 0%;
    }

    60% {
        opacity: 0%;
        font-size: 0vw;
    }

    100% {
        opacity: 100%;
        font-size: 3vw;
    }

    100% {
        width: 96vw;
        height: 8vw;
    }
}
