html
  head
    // Imports
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    // Stylesheet
    link(rel='stylesheet' type='text/css' href='style.min.css')
    // Title Element
    title Snake
    // Main Script Handling All Effects
    script(src='snake.min.js')
  body
    #snake-score
    #snake-window
