doctype html
html
  //
    Why are you looking at my code!
    Copyright 2020 TechAdvancedCyborg
    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
    The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
  style.
  head
    // Imports
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    // Title Element
    title My Resume
    // Icon
    link(rel='icon', type='image/png', href='../assets/icons/icon.png')
    // Stylesheet
    link(rel='stylesheet', type='text/css', href='../style.min.css')
    // Main Script Handling All Effects
    script(src='main.min.js')
    // Script for all pages
    script(src='../allpages.min.js')
  body
    .layer4
      .page
        // Menubar
        .menubar.animonload1
          a.menubutton.menubutton-top-left.animonload1(href='../') Home
          |         
          a.menubutton.menubutton-mid.animonload1(href='../blog/') Blog
          |         
          a.menubutton.menubutton-mid.animonload1(href='../resume/') Resume
          |         
          a.menubutton.menubutton-top-right.animonload1(href='../weather/') Weather
        |     
        .menubar.animonload1
          a.menubutton.menubutton-bottom-left.animonload1(href='../stats/') Stats
          |         
          a.menubutton.menubutton-mid.animonload1(href='../tools/') Tools
          |         
          a.menubutton.menubutton-mid.animonload1(href='../typing/') Typing
          |         
          a.menubutton.menubutton-bottom-right.animonload1(href='../matrix/') Matrix
        // Title Header
        h1.animonload1 Resume
        // Resume Widget
        .resume.animonload1
          .resume-title-div.animonload1
            h4.resume-title.animonload1 Louis Dalibard
            |             
            .resume-subtitle.animonload1 Web and Software Programmer
          |         
          .resume-description.animonload1
            | Multi-Skilled Python, Javascript, HTML, C# and Go programmer.
            br
            | Has designed and developped multiple personal solutions (most of which are on 
            a(href='https://github.com/TechAdvancedCyborg', target='_blank') GitHub
            | ).
            |             
            h5.resume-description-title.animonload1 Projects
            |             
            .resume-seperator.animonload1
            |
            .resume-subtitle.animonload1
              | - Open7SClock (February 2021): An open source 7 segment display clock with a 14 segment variant.
            |             
            br
            |
            .resume-subtitle.animonload1
              | - techadvancedcyborg.github.io (May 2020): A portfolio, I also host experiments there.
            |             
            br
            |             
            .resume-subtitle.animonload1
              | - TTACT&apos;s Anime Player Revamped (May 2020): A revamped version of my command line application for playing anime with a GUI (uses mpv and ffmpeg).
            |             
            br
            |
            .resume-subtitle.animonload1
              | - osu! Rank Curves (October 2019): A basic implementation of a database for keeping track of your rank in osu! (a rythmn game) and plotting that information with Matplotlib.
            |         
            br
            |             
            .resume-subtitle.animonload1
              | - Open Notes (August 2019): A simple sticky notes application with efficient autosaving.
            |             
            //h5.resume-description-title.animonload1 Experience
            //|             
            //.resume-seperator.animonload1
            //|             
            //.resume-subtitle.animonload1
            //|             
            //br
            //|             
            //.resume-subtitle.animonload1
            //|             
            h5.resume-description-title.animonload1 Education
            |             
            .resume-seperator.animonload1
            |             
            .resume-subtitle.animonload1
              | - College Saint-Michel de Picpus Paris, France (2017-current)
            |         
            br
            |
            .resume-subtitle.animonload1
              | - Academia Dual Diploma (2020-current)
            |         
            br
            |  
            h5.resume-description-title.animonload1 Hobbies
            |             
            .resume-seperator.animonload1
            |             
            .resume-subtitle.animonload1
              | - Track and field (2015-current)
            |         
            br
            |
            .resume-subtitle.animonload1
              | - Programming (2014-current)
            |         
            br
            |
            h5.resume-description-title.animonload1 Contact
            |             
            .resume-seperator.animonload1
            |             
            .resume-subtitle.resume-contact-link.animonload1
              | Email: 
              a.resume-contact-link(href='mailto:louis.dalibard@gmail.com', target='_blank') louis.dalibard@gmail.com
            |             
            .resume-subtitle.resume-contact-link.animonload1
              | GitHub: 
              a.resume-contact-link(href='https://github.com/xe0f9', target='_blank') xE0F9
            |             
            .resume-subtitle.resume-contact-link.animonload1
              | Discord: 
              a.resume-contact-link(href='https://discord.com/', target='_blank') OnTake#5344
            |             
            br
        |     
        br
        // Credits
        .credits.animonload1
          | Credits
          br
          | &bull; Background image by 
          a.creditslink(href='https://www.linux-apps.com/u/eliverlara/') ELIVERLARA
          | , 
          a.creditslink(href='https://www.linux-apps.com/p/1309907/') Sweet wallpaper
          | .
          br
          | &bull; TechAdvancedCyborg, 2020. #{hash}
