/* Impoer fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Setting Variables */
:root {
    --bg-color-dark: #313247;
    --bg-color-mid: #393152;
    --bg-color-light: #353c54;
    --text-color-light: #ffffff;
    --text-color-dark: grey;
    --banner-one-scroll-pos: center;

    /* Scrollbar Styling */
    /* Firefox */
    scrollbar-color: var(--text-color-light) var(--bg-color-dark);
    scrollbar-width: thin;
}

/* Setting Background */
body {
    background: var(--bg-color-dark);
}

/* Setting Text Styling */
.text {
    color: var(--text-color-light);
    font-family: monospace;
    font-size: 3vw;
}

/* Headers */
h1 {
    color: var(--text-color-light);
    font-family: monospace;
    font-size: 3vw;
    text-align: center;
}

h2 {
    color: var(--text-color-light);
    font-family: monospace;
    font-size: 2vw;
    text-align: center;
}

.textcontainer {
    padding: 5vw;
}

.text {
    color: var(--text-color-light);
    font-family: monospace;
    font-size: 3vw;
}

.credits {
    padding: 5vw;
    color: var(--text-color-dark);
    font-family: monospace;
    font-size: 15px;
}

/* Menubar */
.menubar {
    color: var(--text-color-light);
    font-family: monospace;
    font-size: 3vw;
    display: flex;
    text-align: center;
}

.menubutton {
    color: inherit;
    text-decoration: none;
    width: 100%;
    border: var(--text-color-light) solid 1px;
    border-radius: 100px;
}
/* Resume Widget */
.resume {
  position:relative;
  background:white;
  color:black;
  font-family:'Open Sans';
  width:90%;
  height: 63.6%;
  margin-left:5%;
  font-size: 2vw;
  text-align:left;
}
.resume-title-div{
  background: #282736;
  color:white;
  padding:1vw 1vw 1vw 1vw;
}
.resume-title{
  text-align:left;
  font-size: 4vw;
}
.resume-subtitle{
  text-align:left;
  font-size:2vw;
  color:gray;
}
.resume-description{
  margin:1vw;
}
.resume-description-title{
  font-size:3vw;
  margin:1.5vw 0vw 0vw 0vw;
}
.resume-seperator{
  background:grey;
  margin: 1vw 0vw 1vw 0vw;
  padding: 0.1vw 40% 0.1vw 40%;
  border-radius:1vw;
}
