html
  head
    // Imports
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    // Stylesheet
    link(rel='stylesheet' type='text/css' href='style.min.css')
    // Title Element
    title 404
    // Main Script Handling All Effects
    script(src='404.min.js')
  body
    #terminal-window
      #terminal-text
      #error-code
        | 404
